@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Slabo+13px&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Mulish, sans-serif;
    color: hsl(222, 47%, 11%);
    background-color: hsl(0, 0%, 96%);
  }
}
